* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #272727;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: #414141;
  line-height: 1.5rem;
  padding: 5rem 2rem 1.5rem 2rem;
  margin: 1rem 0;
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #039be5;
  border-radius: 10%;
}

.subtitle {
  font-style: italic;
  font-size: smaller;
}

.randomNumText {
  margin-top: 3.5rem;
}

.randomNum {
  margin: 1rem 0;
  background-color: #039be5;
  border: 2px solid #039be5;
  border-radius: 10px;
  padding: 1rem;
  font-size: 35px;
  font-weight: bold;
}

.guess {
  margin-top: 1rem;
}

.form {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#checkAnswer {
  margin-top: 2rem;
  background: red;
  width: 7.5rem;
  color: white;
  border: 1px solid red;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  
}

#reset {
  margin-top: 0.5rem;
  width: 7.5rem;
  background: green;
  color: white;
  border: 1px solid green;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;  
}

#output {
  text-align: center;
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  justify-items: center;
  align-items: center;
}